

.menu_main ul.nav>li>a.active {
	color:#fff;
	background-color: #3fc35f;
}
.menu_main ul.nav>li>a:hover.active {
	color:#fff;
	background-color: #3fc35f;
}

.menu_main ul.nav>li>a:hover,.copyright_info a:hover {
	color: #3fc35f;
}

.menu_main .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
	color: #3fc35f;
}

#home-layouts .col-md-4 h3 a:hover{
	color: #3fc35f;	
}
.fusection1 a:hover,body .devn-portfolio-filters .devn-portfolio-filter-item-active{
	background-color: #3fc35f;
}
.navbar-default ul.nav>li>a.active, .navbar-default ul.nav>li.current-menu-parent > a, .navbar-default ul.nav li.current-menu-item>a{
	background-color: #3fc35f;
}
.navbar-default ul.nav>li.current-menu-parent>a:hover, .navbar-default ul.nav li.current-menu-item>a:hover{
	background-color: #3fc35f;	
}
.feature_section30.two{
	background-color: #3fc35f;		
}
.menu_main .dropdown-menu>li>a:hover,
.menu_main .dropdown-menu>li>a:focus {
    background-color: #3fc35f;

}

.master-slider .stext1 em {
	background-color: #3fc35f;
}
.master-slider .sbutton1:hover {
	background-color: #3fc35f;
}
.master-slider .sbox1 div i {
	color: #3fc35f;
}


.feature_section1 .one_fourth:hover .arrow_box,
.feature_section1 .one_fourth.active .arrow_box {
	border: 5px solid #3fc35f;
}
.feature_section1 .one_fourth:hover .arrow_box:before,
.feature_section1 .one_fourth.active .arrow_box:before {
	border-top-color: #3fc35f;
}
.feature_section1 .one_fourth:hover .arrow_box i,
.feature_section1 .one_fourth.active .arrow_box i {
	color: #3fc35f;
}
.feature_section1 .one_fourth:hover h5,
.feature_section1 .one_fourth.active h5{
	color: #3fc35f;
}


.feature_section2 {
	background-color: #3fc35f;
}
.feature_section2 a {
	color: #3fc35f;
}

.tabs li.active a {
	background-color: #3fc35f;
}
.tabs li.active a:after {
	border-left-color: #3fc35f;
}

.feature_section4 .one_fourth:hover .cornered,
.feature_section4 .one_fourth.active .cornered {
    border-bottom: 18px solid #3fc35f;
}
.feature_section4 .one_fourth:hover .cornered2,
.feature_section4 .one_fourth.active .cornered2 {
    border-top: 18px solid #3fc35f;
}
.feature_section4 .one_fourth:hover .ccont,
.feature_section4 .one_fourth.active .ccont {
	color: #fff;
    background-color: #3fc35f;
}

a.ltwo:hover {
	color: #3fc35f;
}

.feature_section6 .one_fourth:hover i,
.feature_section6 .one_fourth.active i{
	color: #3fc35f;
}
.feature_section6 .one_fourth:hover h5,
.feature_section6 .one_fourth.active h5 {
	color: #3fc35f;
}


.readmore_but1:hover {
	background-color: #3fc35f;
}
.readmore_but2:hover {
	background-color: #3fc35f;
}
.readmore_but3 {
	background-color: #3fc35f;
}
.readmore_but4:hover {
	color: #3fc35f;
}
.readmore_but5 {
	background-color: #3fc35f;
}
.readmore_but5 i {
	border-left: 1px solid #3fc35f;
}
.readmore_but7 {
	background-color: #3fc35f;
}
.readmore_but8 {
	background-color: #3fc35f;
}
.readmore_but9 {
	background-color: #3fc35f;
}

h2 i {
	color: #3fc35f;
}
h5.siteccaps {
	color: #3fc35f;
}
h5.sitec {
	color: #3fc35f;
}
a.lthree:hover {
	color: #3fc35f;
}

.feature_section11 strong {
	background-color: #3fc35f;
}

.feature_section10 .left .flist:hover h4,
.feature_section10 .left .flist.active h4 {
	color: #3fc35f;
}
.feature_section10 .right .flist:hover h4,
.feature_section10 .right .flist.active h4 {
	color: #3fc35f;
}


.cbp-l-filters-alignLeft .cbp-filter-item-active {
	background-color:#3fc35f;
	border:1px solid #3fc35f
}

.cbp-l-filters-alignCenter .cbp-filter-item:hover {
	color:#3fc35f;
}
.cbp-l-filters-alignCenter .cbp-filter-item-active {
	background-color: #3fc35f;
}

.feature_section17 .tbox {
	background-color: #3fc35f;
}

.feature_section15 {
	background-color: #3fc35f;
}
.feature_section15 strong {
	background-color: #3fc35f;
}

.feature_section19 .pesimg strong {
	color: #3fc35f;
}

.flex-control-paging li a:hover { background: #333; }
.flex-control-paging li a.flex-active {background: #333; }
.fusection5 a:hover{
	background-color: #3fc35f;	
}
body .acc-trigger a,body .acc-trigger a:hover,body .su-tabs-nav span.su-tabs-current,body .su-tabs-nav span:hover,.recentnews li i{
	color: #3fc35f;	
}
.readmore_but6{
	background-color: #3fc35f;
}
#header-one-page .logo{
	background-color: #3fc35f;	
}
.feature_section21 .cirbox {
	border: 5px solid #3fc35f;
}
#header-one-page .menu_main ul li.active a{
	color: #3fc35f;		
}
.section1 .circle,.section3 strong{
	color: #3fc35f;		
}
.section4 .packagesinfo ul.active li.mostp,.section4 .packagesinfo ul.active li.planbut a,.section4 .packagesinfo li.planbut a:hover{
	background-color: #3fc35f;		
}
.section4 .packagesinfo ul.active li.title h2,.section4 .packagesinfo ul.active li.title h4{
	color: #3fc35f;
}
.section1 .circle:hover{
	background-color: #3fc35f;		
}
.section2,.section3 .one_fourth:hover, .section3 .one_fourth.active{
	background-color: #3fc35f;		
}
h3.colored{
	color: #3fc35f;	
}
.feature_section21 .cirbox strong {
	color: #3fc35f;
}
.feature_section21 .cirbox:hover {
	background-color: #3fc35f;
}
.section5 .one_third:hover{
	background-color: #3fc35f;		
}

.punchtext h3{
	color: #3fc35f;
}
.punchtext a{
	background-color: #3fc35f;		
}
.btn.btn-primary{
	background-color: #3fc35f;		
}
.btn.btn-primary:hover{
	background-color: #333;
}
.devn-form label:hover i.fa{
	color:  #3fc35f;	
}
.feature_section22 {
	background: #3fc35f url("../../images/parallax-bg7.png");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
	position:relative;
}
body .style2 .su-tabs-nav span.su-tabs-current,body .style2 .su-tabs-nav span:hover{
	background-color: #3fc35f;	
}
.feature_section29:after, .feature_section29:before{
	background-color: #3fc35f;	
}
#wp-calendar th{
	background-color: #3fc35f;		
}
.cbp-caption-pushDown .cbp-caption:hover .cbp-caption-activeWrap{
	background-color: #3fc35f;		
}
body .su-tabs-vertical .su-tabs-nav span.su-tabs-current,body .su-tabs-vertical .su-tabs-nav span:hover{
	background-color: #3fc35f;		
}
body .su-tabs-vertical .su-tabs-nav span.su-tabs-current:after,body .su-tabs-vertical .su-tabs-nav span:hover:after{
	border-left-color: #3fc35f;
}	
.tabs3 li a:hover {
	color: #3fc35f;
}
.tabs3 li.active a {
	color: #3fc35f;
}

.feature_section25 li.planbut a:hover {
	background-color: #3fc35f;
}
.feature_section25 ul.active li.planbut a {
	background-color: #3fc35f;
}
.feature_section25 ul.active li.title h4 {
	color: #3fc35f;
}
.feature_section25 ul.active li.title h1 {
	color: #3fc35f;
}

.feature_section29 {
	background: #3fc35f url(../../images/site-img28.png) no-repeat center top;
}

.feature_section31 .isecbox i {
	color: #3fc35f;
}

.features_sec42.two .box h5 {
	color: #3fc35f;
}
.features_sec42.two .box:hover h5,.testimonial-shortcode .pesimg strong {
	color: #3fc35f;
}
.fusection7 .one,.fusection7 .two:hover p, .fusection7 .three:hover p, .fusection7 .four:hover p{
	background-color: #3fc35f;
}
body .devn-portfolio-item .linkfr:hover{
	background-color: #3fc35f;
}
.tabs li.active a {
	background-color: #3fc35f;
}
.tabs li.active a:after {
	border-left-color: #3fc35f;
}

.tabs2 li.active a {
	background-color: #3fc35f;
}

.features_sec29 .box:hover h4 {
	color: #3fc35f;
}

.features_sec18 li.icon {
	color: #3fc35f;
}

.features_sec27 ul.blogs2 li h5 {
	color: #3fc35f;
}

.features_sec27 ul.news2 li.date strong {
	color: #3fc35f;
	border: 1px solid #3fc35f;
}
.features_sec27 ul.news2 li h5 {
	color: #3fc35f;
}

.features_sec18 li.icon {
	color: #3fc35f;
}
.features_sec18 li.icon2 {
	background-color: #3fc35f;
}

.tags li a:hover {
	background-color: #3fc35f;
}


.fullimage_box2 li i {
	color: #3fc35f;
}
.fullimage_box2 h4 {
	color: #3fc35f;
}

.features_sec18 li.icon2 {
	background-color: #3fc35f;
}

.error_pagenotfound em {
	color: #3fc35f;
}

a.but_goback {
	background: #3fc35f;
}

.big_text1 i {
	color: #3fc35f;
}

.punchline_text_box {
	border-left: 5px solid #3fc35f;
}

a.knowmore_but {
	background-color: #3fc35f;
}

blockquote {
	border-left: 5px solid #3fc35f;
}

.small_social_links li i {
	color: #3fc35f;
}

.error_pagenotfound i {
	color: #3fc35f;
}

.blog_post a.date strong {
	color: #3fc35f;
}

.blog_post a.date i {
	background-color: #3fc35f;
}

.blog_post h3 a {
	color: #3fc35f;
}

.sidebar_widget ul.arrows_list1 li a {
	color: #3fc35f;
}

#site-searchform #searchsubmit{
	background: #3fc35f url(../../images/site-search-icon.png) no-repeat center 14px;
}

.recent_posts_list li a:hover {
	color: #3fc35f;
}

.sharepost li {
	background-color: #3fc35f;
}

.about_author a:hover {
	color: #3fc35f;
}

.address-info a {
	color: #3fc35f;
}


.acc-trigger a:hover { color: #3fc35f; border-bottom: 1px solid #fff;  }
.acc-trigger.active a { color: #3fc35f; background-position: 14px -58px; cursor: default;	}
.acc-trigger a:hover { color: #3fc35f; border-bottom: 1px solid #fff;  }
.acc-trigger.active a { color: #3fc35f; background-position: 14px -58px; cursor: default;	}
.acc-trigger a:hover, .acc-trigger.active a, .acc-trigger.active a:hover { color: #3fc35f; border-bottom: 1px solid #fff; }
.accrodation .acc-trigger a:hover { color: #3fc35f; border-bottom: 1px solid #fff;  }
.accrodation .acc-trigger.active a { color: #3fc35f; background-position: 14px -58px; cursor: default;	}
.accrodation .acc-trigger.active a:hover { color: #3fc35f; border-bottom: 1px solid #fff; }

.sidebar_widget ul.tabs li.active, html .sidebar_widget ul.tabs li.active a,  html .sidebar_widget ul.tabs li.active a:hover  {
		border-top: 1px solid #3fc35f;
}

.pricing-tables-helight .title {
	background-color: #96c935;
	border-top: 3px solid #7eb11b;
	border-bottom: 1px solid #b3e05c;
}
.pricing-tables-helight .price {
	background-color: #3fc35f;
}
.pricing-tables-helight-two .title {
	background-color: #96c935;
	border-top: 3px solid #7eb11b;
	border-bottom: 1px solid #b3e05c;
}
.pricing-tables-helight-two .price {
	background-color: #3fc35f;
}
.pricing-tables-main .ordernow .colorchan{
	color: #fff;
	background-color: #3fc35f;
}

a {
	color: #3fc35f;
}
a.two:hover {
	color: #3fc35f;
}
a.three:hover {
	color: #3fc35f;
}
a.lfour {
	color: #3fc35f;
}

a.lfive {
	color: #3fc35f;
}

.page_title {
    border-top: 5px solid #3fc35f;
	background: #272727;
}
.page_title h1 {
    color: #3fc35f;
}
#nav-single .nav-previous, #nav-single .nav-next{
	background-color: #3fc35f;	
}
.page_title2 .title h1 {
	color: #3fc35f;
}
.page_title2 .container:after {
	background-color: #3fc35f;
}

.page_title3 h1 {
	color: #3fc35f;
}

.circlefus i {
	background-color: #3fc35f;
	box-shadow: 0 0 0 4px #fff, 0 0 0 5px #3fc35f;
}

.biobox i {
	background-color: #3fc35f;
}

.blog_post a.date:hover {
	color: #3fc35f;
}
.devn-form .input:hover input, .devn-form .select:hover select, .devn-form .textarea:hover textarea, .devn-form .radio:hover i, .devn-form .checkbox:hover i, .devn-form .toggle:hover i{
	border-color: #3fc35f;
}





